<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <form id="registrationForm" method="post" role="form" action="https://207.154.211.202/register">
        <fieldset class="with-border">
          <legend class="registrationForm">Register with Cinema</legend>
          <div class="form-group">
            <label for="registerEmail">Email Address</label>
            <input type="email" class="form-control" id="registerEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" id="registerPassword" placeholder="Password">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="registerPasswordConfirm">Confirm Password</label>
                <input type="password" class="form-control" id="registerPasswordConfirm" placeholder="Confirm Password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="registerFirstName">First Name</label>
                <input type="text" class="form-control" id="registerFirstName" placeholder="First name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="registerSurname">Surname</label>
                <input type="text" class="form-control" id="registerSurname" placeholder="Surname">
              </div>
            </div>
          </div>
          <!-- Add DoB selector -->

          <button id="btnRegisterForm" type="submit" class="btn btn-primary">Regsiter</button>
        </fieldset>
      </form>
    </div>

  </div>

</div>
