<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <form (ngSubmit)="onRegister()" novalidate>
        <fieldset class="with-border">
          <legend class="registrationForm">Register with Cinema</legend>
          <div class="form-group">
            <label for="email" class="control-label col-sm-4">Email Address:</label>
            <div class="col-sm-12">
              <div class="input-group">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="control-label col-sm-8">Password</label>
            <div class="col-sm-12">
              <div class="input-group">
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="passwordConfirm" class="control-label col-sm-8">Confirm Password</label>
            <div class="col-sm-12">
              <div class="input-group">
                <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="firstName" class="control-label col-sm-6">First Name</label>
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" id="firstName" placeholder="First name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="control-label col-sm-6">Surname</label>
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" id="lastName" placeholder="Surname">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-12">
              <input type="date" id="birthDate" class="form-control">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Regsiter</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
