<div class="container">
  <div class="content">
    <div class="row row-m-t">
      <h2>Currently Showing</h2>
    </div>
    <div class="row row-m-t">
      <div class="col-sm-3">
        <a routerLink="/movie/5a01d2a1a2b1e109afcb8b95"><img src="https://image.tmdb.org/t/p/w300/aMpyrCizvSdc0UIMblJ1srVgAEF.jpg" width="200" /></a>
      </div>
      <div class="col-sm-3">
        <a routerLink="/movie/5a01d805a2b1e109afcb8b96"><img src="https://image.tmdb.org/t/p/w300/oSLd5GYGsiGgzDPKTwQh7wamO8t.jpg" width="200" /></a>
      </div>
      <div class="col-sm-3">
        <a routerLink="/movie/5a01dadea2b1e109afcb8b97"><img src="https://image.tmdb.org/t/p/w300/9rtrRGeRnL0JKtu9IMBWsmlmmZz.jpg" width="200" /></a>
      </div>
      <div class="col-sm-3">
        <a routerLink="/movie/5a01db1aa2b1e109afcb8b98"><img src="https://image.tmdb.org/t/p/w300/zUbUtxiTdEgWnkXY945gtYYqBZ1.jpg" width="200" /></a>
      </div>
    </div>
    </div>
  </div>
